*{
    background-color: black;
    color: white;
}


nav{
    text-align: end;
    font-size: 25px;
    background-color: rgb(70, 66, 66);
    padding:8px;
    border-radius: 2px;
}

.nav{
    color: rgb(70, 66, 66);
    background-color: white;
    text-decoration: none;
    padding: 4px;
    border-radius: 2px;
    
}
.nav:hover{
    font-size: 28px;
    padding: 4px;
    border-radius: 2px;
}

.body{
    
    display: flex;
    flex-direction: row;

}

.sidebar{
    display: flex;
    flex-direction: column;
}

.main{
    background-color: rgb(70, 66, 66);  
    margin: 15px; 
    padding:15px;
    border-radius: 5px;
}
h1{
    background-color: rgb(70, 66, 66);
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: rgb(70, 66, 66);           
}

li{
    
    border: 2px solid rgb(70, 66, 66);
    padding:5px;
    display: flex;
    flex-direction: column;
}



img {
  width: 200px;
  height: 200px;
  margin:5px;
}
